<h1><%= @members.count %> Results</h1>
<table class="members">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Party</th>
      <th>District</th>
    </tr>
  </thead>
  <tbody>
 <tr class="member"><% @members.each do |member| %> </tr>
    <td class="name"><%= member.name %></td>
    <td class="role"><%= member.role %></td>
    <td class="party"><%= member.party %></td>
    <td class="district"><%= member.district %></td>
  <% end %>
  </tbody>
</table>
