<h1><%= @members.count %> Results</h1>

<table>

  <tbody>
  <tr><% @members.each do |member| %></tr>
    <td>  <%= member.name %></td>
    <td>   <%= member.role %></td>
    <td>   <%= member.party %></td>
    <td>   <%= member.district %></td>
  <% end %>
  </tbody>
</table>
